.App {
  display: flex;
  flex-direction: row;
  text-align: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  flex-wrap: wrap;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

img{
  width: 200px;
  display: flex;
  justify-content: space-between;
}

.Header{
  position: relative;
  background-color: red;
  height: 70px;
  width: 100%;
}
.Display{
  /* background-color: green; */
  padding: 10px;
  display: flex;
  flex-direction: row;
  width: 100%;
  /* justify-content: space-evenly; */
  flex-wrap: wrap;
  margin-top: 30px;
  justify-content: center;
  /* -webkit-box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.64); 
  box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.64); */
border: 2px solid rgb(126, 2, 126);
-webkit-box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.83); 
  box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.83);
}
button{
  height: 20px;
  /* margin-left: 50px; */
}
#name-price{
  padding: 20px;
}
.Cart-section{
  display: flex;
  height: 100%;
  width: 175px;
  flex-direction: column;
  padding: 10px;
  justify-content: space-between;
  border: 1px solid black;
  margin-top:20px;
  margin-left: 40px;
  
  /* -webkit-box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.83); 
  box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.83); */
  /* background-color: rgb(210, 218, 220); */
}
#order-button{
  margin-left:20px;
  margin-top: 75px;
}
#cart-btn{
  margin-top: 15px;
}
#cart-header{
  padding: 5px;
  font-weight:400;
}
